<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body class="ui container">
    <div class="ui top attached tabular menu">
  <a class="active item">
    Tab 1
  </a>
  <a class="item">
    Tab 2
  </a>
</div>
<div class="ui bottom attached segment">
  Top gov lizard king secrets
</div>
<p> Big hush hush </p>
  </body>
</html>
