<div style="background: #500000">
  <div class="ui borderless inverted maroon small menu">
    <a class="item"> <%= image_tag("TAM-Logo-white.png", alt: "Texas A&M Logo")%></a>
    <div class="item">PEER TEACHING PROGRAM</div>
<!--    <div class="item">-->
<!--      <div class="ui category medium search">-->
<!--        <div class="ui icon input">-->
<!--          <input class="prompt" type="text" placeholder="Search animals...">-->
<!--          <i class="search icon"></i>-->
<!--        </div>-->
<!--        <div class="results"></div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="inverted right menu">
      <div class="item"><i class="ui big  user circle icon"></i> Leyk</div>
      <a class="item" href="/">Log Out</a>
    </div>
  </div>
</div>

<div style="background: #707373">
  <div class="ui inverted darkShade four item big menu">
    <a href="/admin/home" class="item"><div class="Tab"><i class="home black icon"></i>Home</div></a>
    <a href="/admin/view/applications" class=" active item"><div class="Tab"><i class="file black icon"></i>Applications</div></a>
    <a href="" class="item"><div class="Tab"><i class="upload black icon"></i>Documents</div></a>
    <a href="" class="item"><div class="Tab"><i class="wrench black  icon"></i>Settings</div></a>
    <div class="inverted right menu">
    </div>
  </div>
</div>

