<div style="background: #500000;position: fixed; bottom: 0; width: 100%">
  <div id="tertiary-menu" class="ui inverted borderless tiny menu" style="background:inherit">
    <a class="item">TEXAS A&M COMPUTER SCIENCE & ENGINEERING DEPARTMENT</a>
    <div class="right menu">

      <a class="item href=">&copy; PEER TEACHING PROGRAM</a>
      <a class =" item"></a>
    </div>
  </div>
</div>

</div>

<script>
    var applicants = [
        <% @applicants.each do |applicant| %>
        {   title: '<%=applicant.first_name%> <%=applicant.last_name %>',
            description: '<%=applicant.uin%>',
            url: "/admin/applications/<%=applicant.id %>",
            image: "http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png"
        },
        <% end %>
    ];

    $('.ui.search').search({
        source : applicants,
        searchFields   : [
            'title', 'description'
        ],
    })
</script>