<%= render 'adminMenu' %>

<div class="ui center aligned container" style="margin:40px 0 40px 0">
  <h2 class="ui icon header">
    <i class="circular maroonyellow home icon"></i>
    <div class="content">
      Home
      <div class="sub header"></div>
    </div>
  </h2>
</div>

<%= render 'adminFooter' %>