<%= render 'adminMenu' %>

<div class="ui center aligned container" style="margin:40px 0 40px 0">
  <h2 class="ui icon header">
    <i class="circular home icon"></i>
    <div class="content">
      Home
      <div class="sub header"></div>
    </div>
  </h2>
</div>

<div class="ui dividing stackable container equal width grid">
  <div class="column">

    <h1 class="ui small header">
      <i class="orange hourglass outline icon"></i>
      <div class="content">
        Pending Applications
      </div>
    </h1>

    <div class="ui segments">
      <div class="ui segment">
        <p class="gray-transparent">The following are pending review applicants</p>
      </div>
      <div class="ui segment">
        <div class="ui small list">
          <div class="item">
            <i class=" user big icon"></i>
            <div class="content">
              <a class="header" href="/admin/applications/1">Pape Sow Traore</a>
              <div class="description">Computer Science - 2020</div>
            </div>
          </div>
          <div class="item">
            <i class=" user big icon"></i>
            <div class="content">
              <a class="header" href="/admin/applications/1">Daniel Le</a>
              <div class="description">Computer Science - 2020</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="column">
    <h1 class="ui small header">
      <i class=" clock outline big icon"></i>
      <div class="content">
        Feed
      </div>
    </h1>
    <div class="ui segments">
      <div class="ui segment">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <i class="upload green icon"></i>
            </div>
            <div class="content">
              <div class="summary">
                You posted on your friend <a>Stevie Feliciano's</a> wall.
                <div class="date">Today</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <i class="upload green icon"></i>
            </div>
            <div class="content">
              <div class="summary">
                You posted on your friend <a>Stevie Feliciano's</a> wall.
                <div class="date">Today</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

</div>




<%= render 'adminFooter' %>