<%= render 'adminMenu' %>
<div class="ui center aligned container" style="margin:40px 0 40px 0">
  <h2 class="ui icon header">
    <i class="circular maroonyellow wrench icon"></i>
    <div class="content">
      Settings
      <div class="sub header"></div>
    </div>
  </h2>
</div>

<div class="ui container stackable grid" style="max-width: 1000px !important;">
  <div class="row">
    <div class="five wide column">
    <h2>Add administrators</h2>
      <p>Can add adminstrators </p>
    </div>
    <div class="eight wide column">

    </div>
  </div>

    <div class="row">
     <div class="column">
       <hr>
     </div>
    </div>

  <div class="row">
    <div class="five wide column">
      <h2>Password</h2>
      <p>Can add adminstrators </p>
    </div>
    <div class="eight wide column">
      <form action="" class="ui form">
          <div class="field">
            <label>Current Password</label>
            <input type="text" name="first-name" placeholder="First Name">
          </div>
          <div class="field">
            <label>New Password</label>
            <input type="text" name="last-name" placeholder="Last Name">
          </div>
        <div class="field">
          <label>Confirm New Password</label>
          <input type="text" name="last-name" placeholder="Last Name">
        </div>

          <button class="ui button" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="five wide column">
      <h2>Add administrators</h2>
      <p>Can add adminstrators </p>
    </div>
    <div class="eight wide column">

    </div>
  </div>



  </div>



<%= render 'adminFooter' %>