<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  </head>
  <body >

    <div style="background: #D3D3D3">
        <div id="tertiary-menu" class="ui  borderless tiny menu">
            <div class="right menu">
               <a class="item">TEXAS A&M COMPUTER SCIENCE & ENGINEERING DEPARTMENT</a>
                <a class =" item"></a>
                <a class="inverted item"><i class=" sign in alternate icon"></i> COORDINATOR LOGIN</a>
            </div>
        </div>
    </div>

    <div id="secondary-menu" class="ui borderless menu">
        <a href="https://www.tamu.edu" class="item">
          <%= image_tag("TAM-LogoBox.png", alt: "Texas A&M Logo")%>
        </a>
        <a class="item">
            <div id="department" class="ui massive header"> COMPUTER SCIENCE PEER TEACHING PROGRAM</div>
        </a>
    </div>
    
    <div style="background: #500000">
        <div id="main-menu" class="ui inverted big borderless menu">
            <a class="item">Home</a>
            <div class="ui dropdown item">
                People
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item">LMA Network</a>
                  <a class="item">LDAR Network</a>
                </div>
              </div>
            <a class="item">Rules</a>
            <a class="item">Apply</a>
            <a class="item">View App Status</a>
            <a class="item">Contact Us</a>
        </div>
    </div>

    <%= image_tag("peer-teachers-web.jpg", alt: "Peer Teachers" , class:"jumbotron" )%>