
  <div class="ui maroon inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <%= image_tag("TAM-Stack-white.png", alt: "Texas A&M Logo", class:"ui small image")%>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted ">Shortcuts</h4>
          <div class="ui inverted link list">
            <a href="/" class="item">Home</a>
            <a href="/rules" class="item">Rules</a>
            <a href="/instructions" class="item">Apply</a>
            <a href="#" class="item">View App Status</a>
          </div>
        </div>
        <div class="ten wide column">
          <h2 class="ui inverted ">Department of Computer Science & Engineering</h2>
          <h3 class="ui inverted">Peer Teaching Program</h3>
          <p style="font-size:1.5em;">"High-performing undergraduates with a desire to help others succeed in the classes that they have previously done well in."</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div style="background: #D3D3D3">
    <div id="tertiary-menu" class="ui borderless tiny menu">
      <a class="item">TEXAS A&M COMPUTER SCIENCE & ENGINEERING DEPARTMENT</a>
      <div class="right menu">

        <a class="item href=">&copy; PEER TEACHING PROGRAM</a>
        <a class =" item"></a>
      </div>
    </div>
  </div>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


