<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home - Peer Teaching</title>
    
    <%= render 'landingMenu' %>

    <div class="ui container vertical stripe quote segment">
        <div class="ui stackable grid container">
        
        <div class="row">
          <div class="five wide column">
          <div class="ui card">
          <div class="image">
            <%= image_tag("TeresaLeyk.jpeg") %>
            <div class="ui inverted small top ribbon label">CSCE</div>
          </div>
          <div class=" content" style="background: #D6D3C4;">
            <div class="header" style="color:#500000"><u>Dr. Teresa Leyk</u></div>
            <div class="description">
              <div class="">Program Supervisor</div>
                Senior Lecturer 
            </div>
          </div>
            <div class="extra content">
            <p><b>Office:  </b>TEAG 317AA</p>
            <p><b>Phone:  </b><a href=""> <u>979-845-4456</u></a></p>
            <p><b>Email:  </b><a href=""><u>teresa19@tamu.edu</u></a></p>
          </div>
   
          </div>
          </div>
          <div class="eleven wide column">
            <h1 class="ui header">PEER TEACHING PROGRAM</h1>
            <p> The program helps to bridge the gap between students and instructors. The Peer Teachers (PTs) are high-performing undergraduates 
            with a desire to help others succeed in the classes that they have previously done well in. The PTs help students to understand the material taught 
            in classes and labs, practice computational thinking, and improve programming skills. They are in the best possible position to assist with difficult 
            coursework, having just taken the same classes. The Peer Teacher program supports 100, 200 and 300 level CSCE courses. Students consistently rate peer 
            teachers as a positive impact on their performance.</p>
            <p> Many students prefer asking PTs for help instead of instructors and TAs because they feel more closely related, both academically and socially. 
            In addition to answering questions about coursework, PTs also provide guidance in course selection and offer support when students feel overwhelmed.</p>
            <p> Outside of the lab, PTs continue to assist their students through various methods. Most PTs hold office hours throughout the week in Peer Teacher Central 
            (HRBB129). Peer Teacher Central is manned most hours of the school day and even on nights and weekends. For some classes, PTs hold additional review sessions 
            to offer extra coverage of the course material. </p>
          </div>
        </div>

        <div class="row">
          
          <div class="eleven wide column">
            <p>Starting in Spring 2014, office hours were consolidated to one location and arranged so that at least one peer teacher is always present, increasing students awareness of where and when help is available. The response has been positive; students are better able to find help and tend to utilize whatever peer teachers are available, rather than the handful they are familiar with from lab.</p>
            <p>Many classes also use the Piazza message board system where PTs can answer questions online. Based on the data from previous semesters, the average response time was only 25 minutes.</p>
            <p>The program also benefits PTs, by reinforcing a deeper understanding of the material though teaching, communication skills, time management and valuable work experience. In total, these skills make PTs highly sought after assets in industry after they graduate.</p>
          </div>
          <div class="five wide center aligned column" style="">
            <div class="ui section divider"></div>
            <h1><b>Peer Teacher Central</b></h1>
            <h2><b><a href="">Location: HRBB 129</a></b></h2>
           
              <h3>
                Monday - Friday 9:00 a.m. - 5:00 p.m.
              </h3>
               <h3>
                Saturday - Closed
              </h4>
               <h3>
                Sunday - 3:00 p.m. - 5:00 p.m.
              </h3>
            
          </div>
        </div>
      </div>
    </div>
    </div>

  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"What a Company"</h3>
          <p>That is what they all say about us</p>
        </div>
        <div class="column">
          <h3>"I shouldn't have gone with their competitor."</h3>
          <p>
            <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
          </p>
        </div>
      </div>
    </div>
  </div>

 <%= render 'landingFooter' %>
