<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home - People</title>
    
    <%= render 'landingMenu' %>

    	<div class="ui breadcrumb">
		  <a class="section">Home</a>
		  <span class="divider">/</span>
		  <span class="section"><b>People</b></span>
		</div>



   	<%= render 'landingFooter' %>