<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home - Rules & Logistics</title>
    
    <%= render 'landingMenu' %>

    <%= image_tag("tapia_2016.jpg", alt: "Peer Teachers" , class:"jumbotron" )%>

    <div class="ui breadcrumb">
		 <a class="section">Home</a>
		 <span class="divider">/</span>
		 <span class="section"><b>Rules & Logistics</b></span>
	</div>

   	<%= render 'landingFooter' %>