.column >  p {
    font-size: 1.5em;
    font-family: 'Crimson Text', serif;
}
h2{
    font-family: 'Oswald', sans-serif;
}

.ui.vertical.stripe{
    padding: 100px 0 50px 0;
}
.column > .ui.header{
   font-size: 3em;
   padding: 0 0 0 0;
   font-family: 'Oswald', sans-serif;
   color:#003C71;
}

.ui .card {
    font-family: 'Oswald', sans-serif;  
}

.ribbon.label {
    background : #500000;
 
}

.content{
     
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif; 
}

.description{
    font-size: 1.2em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid  {
    padding-top: 5em;
    padding-bottom: 5em;
}