// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Tab{
  color:black;
  font-family: 'Oswald', sans-serif;
}
#return:hover{
  background:lightgray;
}