// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Tab{
  color:black;
  font-family: 'Oswald', sans-serif;
}
#return:hover{
  background:lightgray;
}
.top-nav-bar{
  background: #500000 !important;
  border-radius: 0 !important;
}
.second-nav-bar{
  background: #D6D3C4 !important;
  border-radius: 0;
  border: 0;
}
.active-dark{
  background: rgba(0, 0, 0, 0.15) !important;
}
.circular{
  color: #D6D3C4;
  background: #500000;
  box-shadow: 0em 0em 0em 0.08em rgba(214, 211, 196, 1) !important;
}